//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends m_layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block JS
	script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

block Middle
	+separator(5)
	div
		#topDiv
			h3#holder= L('title')
			img#logo(src='/img/kkutu/short_logo.png')
		div.jjoriping
			img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png')
			img.jjoObj.jjoNose(src='/img/jjonose.png')
			img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png')
			.jjoDisplayBar
				button#game-start.jjo-display= L('gameStart')
	#menu-bar
		a(target='_blank', href='https://discord.gg/sEatfBw', style='background-color: #7289DA; font-size: 14px;')= L('discord')
		a(target='_blank', href='//blog.jjo.kr/', style='background-color: #4078DC;')= L('CREATOR')
	.server-list-box
		h3.server-list-title
			a#server-refresh
				+FA('refresh')
				+Expl(L('serverRefresh'))
			label= L('serverList')
			label#server-total
		div#server-list
	.ad(style="margin-top: 30px;")
		// kkutu-mobile-main
		ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2810659463174293', data-ad-slot='1248432873', data-ad-format='auto')
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});
		p Google Ad
	.box
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	.ad(style="margin-top: 20px !important; margin-bottom: 10px !important;")
		a(href=locals.ad1url)
			img(src=locals.ad1, style="margin: auto !important; display: block !important; width: 234px !important;")
		p Custom Banner
	.ad(style="margin-top: 0px !important; margin-bottom: 10px !important;")
		a(href=locals.ad2url)
			img(src=locals.ad2, style="margin: auto !important; display: block !important; width: 234px !important;")
		p Custom Banner
	.ad(style="margin-top: 0px !important; margin-bottom: 10px !important;")
		a(href=locals.ad3url)
			img(src=locals.ad3, style="margin: auto !important; display: block !important; width: 234px !important;")
		p Custom Banner
	.ad(style="margin-top: 0px !important; margin-bottom: 10px !important;")
		a(href=locals.ad4url)
			img(src=locals.ad4, style="margin: auto !important; display: block !important; width: 234px !important;")
		p Custom Banner
	.ad(style="margin-top: 20px !important; min-height: 20px !important;")
		// kkutu-mobile-main
		ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2810659463174293', data-ad-slot='1248432873', data-ad-format='auto')
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});
		p Google Ad
	+separator(10)
	
block Bottom
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')